body {
    font-family: 'Courier New', Courier, monospace;
}

.small-foot {
    font-size: 8;
    color: gray;
}

.weather-report {
    border-collapse: collapse;
}

.table-head {
    background: gray;
}

tr {
    border: 1px solid darkgray;
}

th {
    padding-top: 10px;
}

td {
    padding: 3px;
}

.temperature-col {
    text-align: center;
    border-left: 2px solid darkgray;
    border-right: 1px solid darkgray;
}
.uv-col {
    text-align: center;
    border-left: 1px solid darkgray;
    border-right: 1px solid darkgray;
}
.precipitation-col {
    text-align: center;
    border-left: 1px solid darkgray;
    border-right: 2px solid darkgray;
}

.odd-row {
    background: rgb(210, 210, 210);
}
.even-row {
    background: rgb(180, 180, 180);
}
.event-row {
    background: rgb(230, 210, 180);
}
.event-date-col { 
    text-align: right;
}

.time-now {
    border-top: 3px solid rgb(50, 150, 50);
}
.time-newday {
    border-top: 3px solid rgb(50, 50, 150);
}

.temperature-hot {
    background-color: rgb(from red r g b / 40%);
}
.temperature-warm {
    background-color: rgb(from orange r g b / 40%);
}
.temperature-default {
    background-color: transparent;
}
.temperature-cool {
    background-color: rgb(from skyblue r g b / 40%);
}
.temperature-cold {
    background-color: rgb(from blue r g b / 40%);
}

.uv-null {
    background-color: transparent;
}
.uv-low {
    background-color: transparent;
}
.uv-mod {
    background-color: rgb(from yellow r g b / 50%)
}
.uv-high {
    background-color: rgb(from orange r g b / 50%);
}
.uv-vhi {
    background-color: rgb(from red r g b / 50%);
}
.uv-extr {
    background-color: rgb(from magenta r g b / 50%);
}

.rain-none {
    background-color: transparent;
}
.rain-low {
    background-color: rgb(from skyblue r g b / 50%)
}
.rain-med {
    background-color: rgb(from skyblue r g b / 50%)
}
.rain-hi {
    background-color: rgb(from skyblue r g b / 50%)
}